<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="com.nothing.ketchum.permission.ENABLE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- トイサービスを登録 -->
        <service android:name=".MyCustomToyService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY"/>
            </intent-filter>

            <!-- 必須: トイ名 -->
            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:resource="@string/toy_name"/>

            <!-- 必須: プレビュー画像 -->
            <meta-data
                android:name="com.nothing.glyph.toy.image"
                android:resource="@drawable/clock_toy_preview" />

            <!-- オプション: 長押し有効化 -->
            <meta-data
                android:name="com.nothing.glyph.toy.longpress"
                android:value="1"/>
        </service>
    </application>

</manifest>
